
.qa-wr {
	width: 100%;
}
.qa-group {
	width: 100%;
	margin-bottom: 20px;
}

h3 {
	margin-bottom: 10px;
}

.form-group select {
	padding: 9px 9.5px;
}

.form-group i {
	top: 50%;
	right: 5%;
}

.qa-group-wr {
	display: flex;
}

.qa-g-left, .qa-g-right {
	width: calc(50% - 10px);
}

.qa-g-left {
	margin-right: 20px;
}

#addQ {
	cursor: pointer;
	color: #3498db;
}

#addQ:hover {
	color: #2980b9;
	text-decoration: underline;
}

.btn-group {
	display: inline-block;
	width: 100%;
}

.btn-group button {
	width: 25%;
	transform: translateX(150%);
}
