.course-teacher a {
	text-decoration: none;
	color: #0275d8;
}

.course-teacher a:hover {
	text-decoration: underline;
}


.content {
	display: flex;
	margin-bottom: 20px;
}

.video-content {
	width: 60%;
	max-width: 50em;
	background-color: background-color: rgb(0,0,0,.8);
}

video {
	width: 100%;
}
/*-----------scroll menu under video----------------*/
/*.menu-uner-v {
	width: 60%;
}*/

.menu-uner-v li {
	text-align: center;
	width: 25%;
	padding: 0 5px;
	box-sizing: border-box;
}

.menu-uner-visited{
	border-bottom: 2px solid #e00;
}



h3 {
	color: #363434;
}

.course-detail {
	width: 38%;
	max-width: 50em;
	margin-left: 2%;
}

.course-m ul li {
	float: none;
}

/*.child li:before {
	content: ' ';
	width: 10px;
	height: 10px;
	color: #000;
	padding: 5px;
}
*/
.course-t {
	text-align: center;
}


.course-hp {
	margin-bottom: 15px;
}

.course-hp span{
	font-size: 20px;
}

.course-buy {
	padding: 5px;
	background-color: #c00;
	border-radius: 20px;
	width: 15vw;
	margin: 0 auto;
	cursor: pointer;
	font-size: 110%;

}

.course-buy a {
	color: #fff;
	text-decoration: none;
}

.course-free {
	margin-top: 15px;
}

.course-free a {
	color: #0275d8;
	text-decoration: none;
}


.course-free a:hover {
	text-decoration: underline;
	color: #01447e;
}

.course-buy:hover {
	background-color: #EB3333;

}

.course-m {
	border-top: 1px dotted #f1f1f1;
	margin-top: 25px;
	text-align: left;
	font-size: 90%;
	color: #141E6C;
}

.course-m-sec ul li {
	list-style: disc;
}

.course-m-sec {
	margin: 0 auto;
	margin-top: 15px;
	width: 80%;
}

/*-----------course content left------------------*/
.coures-description, .course-struct {
	max-width: 90%;
	margin-top: 30px;
}

.coures-description h3 {
	font-size: 90%;
	color: #737070;
	font-weight: bolder;
}

.des-techer, .course-struct,
.des-re, .des-per {
	margin-bottom: 30px;
}

/*----------course content lession--------------*/
.course-st-row {
	margin-bottom: 5px;
	border-bottom: 1px solid #f1f1f1;
	display: flex;
	padding: 5px 0;
}

.course-st-head {
	border-bottom: 1px solid #01447e;
	margin-bottom: 15px;
}

.course-st-title{
	background-color: #01447e;
	padding: 0 10px;
	width: 20%;
	color: #fff;
	border-top-right-radius: 10px;
}


.st-less {
	width: 10%;
	margin-right: 5px;
}

.st-name {
	width: calc(70% - 5px);
}

.st-cr-test {
	width: 20%;
	text-align: center;
	box-sizing: border-box;
}

.st-cr-test a {
	text-decoration: none;
	color: #0275d8;
	font-weight: bolder;
	letter-spacing: 0.375px;
}

.link-test:hover {
	background-color: #01447e;
	cursor: pointer;
}

.link-test:hover a {
	color: #fff;
}

.link-test {
	border: 1px solid #01447e;
	border-radius: 30px;
	line-height: 24px;
	width: 45%;
	margin: 0 auto;
	line-height: 
}

/*-------------coures references--------------*/
.course-ref {
	padding: 10px;
}


/*--------------coures boxs---------------------------*/
.course-ref-content{
	display: flex;
	margin-top: 20px;
	background-color: #f1f1f1;
	/*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}

.course-img {
	width: 40%;
	max-width: 30em;
	padding: 2px;
}


.course-c {
	width: 57%;
	padding: 2px 5px;
	font-size: 85%;
	position: relative;
}

.course-title {
	min-height: 45px;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	color: grey;
	text-transform: uppercase;
}

.course-price::after {
	content: "VNĐ";
	color: grey;
	font-size: 10px;
	padding-left: 5px;
}

/*.course-price {
	position: absolute;
	bottom: 2%;
	left: 2.5%;
}*/

/*-----------form-comment-------------------*/
form {
	min-height: 200px;
}

#form-c textarea {
	width: 76%;
	min-height: 90px;
	margin-top: 15px;
	padding: 10px;
	border: 1px solid #A19A9A;
	box-sizing: border-box;
	border-radius: 5px;
}

.btn-group {
	padding: 0;
}

.btn-group button {
	margin-left: 0;
}

/*--------------comment history-----------------*/
.comments-history {
	width: 76%;
	border: 1px solid #f1f1f1;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 25px;

}

.comments-history ul li {
	width: 100%;
	padding-top: 15px;
}

.comments-history-answer {
	margin-left: 15px;
}

.comments-history-answer li {
	background-color: #eee;
	padding: 15px;
	box-sizing: border-box;
}


.comment-acc, .comment-time, .comment-rep-links a {
	font-size: 13px;
}

.comment-acc {
	float: left;
	padding-right: 5px;
}

.comment-time {
	color: #7C7676;
}

.comment-ques {
	padding: 10px 0;
	font-size: 14px;
}

.comment-rep-links {
	text-align: right;
}

.comment-rep-links a {
	color: #0275d8;
	text-decoration: none;
	padding-right: 10px;
}


@media screen and (max-width: 991px) {
	
	.menu-uner-v {
		display: none;
	}

	.course-buy {
		font-size: 14px;
	}

	.course-ref-content{
		font-size: 90%;

	}

	.comments-history {
		width: 100%;
	}

	#form-c textarea {
		width: 100%;

	}
	
}

@media screen and (max-width: 768px) {
	.content {
		display: block;
	}

	.video-content {
		width: 100%;
	
	}

	.course-buy {
		width: 20vw;
		font-size: 70%;
	}

	.course-detail {
		margin-top: 15px;
		width: 100%;
		margin-left: 0;
	}

	.course-c {
		font-size: 100%;
		text-transform: uppercase;
	}

	.coures-description, .course-struct {
		max-width: 100%;
		margin-top: 30px;
	}

	.st-cr-test {
		width: 20%;
	}

	.st-cr-test a {
		letter-spacing: 0;
	}

	.link-test {
		border: 0;
		border-radius: 0;
		width: 0;
	}

	.link-test:hover a {
		color: #01447e;
	}

	.desc-wr {
		padding: 10px;
	}
}


@media screen and (max-width: 480px) {
	.course-c {
		font-size: 85%;
		text-transform: capitalize;

	}

	#form-c textarea {
		width: 100%;
	}

	.course-m {
		text-align: center;
		margin-bottom: 15px;
	}

	.course-intro {
		font-size: 14px;
	}
}