body {
    font-size: 15px;
}

.clear-fix::after {
    content: ' ';
    clear: both;
    display: block;
}

/*hiden element*/
.search-mobilde {
    display: none;
}

/*banner slideshow*/
.thumb {
	
	box-sizing: border-box;
}

.slide-show {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
}

.col-span-boxs img,
.slide-show img {
    width: auto\9;
    height: auto;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


#slideShow img {
	max-height: 350px;
}

.col-span-boxs img {
	max-height: 160px;
}

.box-links {
    margin-top: 15px;
}

#slideShow {
    position: relative;
}

.sologan {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px rgb(0, 0, 0, 0.6);
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*sologan tag h1 h3*/
.sologan h1 {
    font-size: 40px;
    font-weight: bolder;
}

.sologan h3 {
    font-size: 25px;
    text-align: center;
}

/*section*/
section {
    position: relative;
    margin-bottom: 20px;
}

.section-content {
	width: 100%;
    padding: 5px;
}

/*section button HOT*/

.links-section-head {
	line-height: 48px;
	box-sizing: border-box;
}

.section-head {
    padding-bottom: 10px;
    box-sizing: border-box;
}

.section-head a {
    background: #fff;
    color: #c00;
    padding-left: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-right: 5px;
}

.links-section-head {
    padding-bottom: 10px;
}

.new-course {
    color: #000 !important;
    text-decoration: none;
    border: 1px solid #c00;
    padding: 2px;
    box-sizing: border-box;
    /*font-weight: 100 !important;*/
}

.link-cate {
    color: #6624FB !important;
    text-decoration: none;
    font-weight: 300 !important;
    text-transform: lowercase !important;
    /*font-weight: 100 !important;*/
}

.section-head-name {
	display: block;
	min-width: 20%;
	float: left;
    background: #c00;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 5px;
    padding: 2px 5px;
}


/*section course infomation*/
.section-img img {
    width: 100%;
}

.section-main {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.course-info {
    position: relative;
    padding: 5px;
    font-size: 90%;
    color: #3d3d29;
    height: 95px;
    word-wrap: break-word;
}

.course-info a {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #fff;
    background: #cdcdb1;
    text-decoration: none;
    padding: 2px 3px;
    font-size: 80%;
}

.course-info span {
    color: #c00;
}

.lSpg:after {
	display: block;
	content: " ";
	clear: both;
}

.lSpg {
	position: relative;
}

.lSpg li {
	position: absolute;
	left: 50%;
}

/*links next, prev*/
.fa-chevron-left,
.fa-chevron-right {
    font-size: 18px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    position: absolute;
    top: 40%;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    width: 50px;
    padding: 5px;
    transition: all 1s ease;
    text-align: center;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.fa-chevron-left {
    left: 0;
}

.fa-chevron-right {
    right: 0;
}


/*box links*/
.box-links {
    display: flex;
}

.col-span-boxs {
    width: 33.3%;
    max-width: 30em;
    padding: 3px;
}

/*nav right menu*/

.nav-right-menu {
    overflow: hidden;
    height: 529px;

}

.banner-right img{
    background-position: center;
    background-size: cover;
    object-fit: cover;

}


.news {
    margin-bottom: 20px;
    border: 1px solid #FC0101;
    max-height: 320px;
    overflow: hidden;
    /*padding: 10px;*/
}

.news-head {
    background-color: #c00;
    padding: 10px;
}

.news-head h3 {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-weight: 600;
}

.news-hot,
.news-head>.new-course {
    float: right;
    margin-left: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.news-hot {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}

.news-head>.new-course {
    background-color: #fff;
    color: #c00 !important;
    padding: 0 2px;
}


.news-main {
    font-size: 15px;
    padding: 10px;
}

.news-main li {
    margin-bottom: 10px;
}

.icon-news {
    color: #fff;
    background-color: #c00;
    font-size: 16px;
    width: 16px;
    border-radius: 30px;
    text-align: center;
    margin-right: 5px;
}



@media screen and (max-width: 991px) {

    /*hiden elemment*/
    .sologan,
    .col-span-boxs,
    .search-mobile {
        display: none;
    }

    /*banner img*/
    #slideShow img {
        width: 100%;
        max-height: 350px;
    }

    .mobile-slide {
        padding: 0
    }

    /*nav right menu*/
    .nav-right-menu {
        display: flex;
        height: auto;
    }

    .news-head {
        padding: 5px;
    }

    .news-head h3 {
        margin: 0;
    }

    .news {
        width: 50%;
        max-width: 50em;
        max-height: 306px;
        padding-right: 0;
        margin-right: 10px;
        margin-bottom: 0;
        box-sizing: border-box;
    }

    .news-hot,
    .news-head h3,
    .news-head>.new-course {
        font-size: 14px;
    }

    .news-main {
    	padding-bottom: 0;
    }

    .news-main li{
        margin-bottom: 2px;
    }

    .news-main li:last-child {
 	   margin-bottom: 0;
	}

    .banner-right {
        width: 50%;
        border-bottom: 2px solid #000;
    }

    .banner-right img {
        background-position: center;
        background-size: cover;
        object-fit: cover;
        max-height: 230px;
    }

    /*section*/
    .section-head-name {
		width: 95%;
		float: none;
	}
    .section-main {
    	width: 80%;
	}

}

@media screen and (max-width: 767px) {

    /*hiden elemment*/
    .banner-right,
    .nav-right-menu,
    .col-span-boxs {
        display: none;
    }

    .lSPager>li {
        display: none !important;
    }

    /*header*/

    /*sologan tag h1 h3*/
    .sologan h1 {
        font-size: 200%;
    }

    .sologan h3 {
        width: 65vw;
        font-size: 120%;
        text-align: center;
    }

    .mobile-slide {
        padding: 0
    }

    .banner-mobile {
        width: 100%;
        display: inline-block;
        position: relative;
    }

    .slide-show {
        /*max-height: 300px;*/
        overflow: hidden;
    }

    /*section*/
    .section-main {
    	width: 75%;
	}

    #main {
        height: calc(100% - 42.5px - 180px);

    }

    /*menu*/
    /*footer*/

}