
.breadcrumb-wr {
	width: 100vw;
}

.course-img  .price:after {
	border-color: #FFC300 #fff transparent #fff;
}

.breadcrumb {
	margin: 10px 0;
	padding: 5px 15px;
}

.content {
	margin-bottom: 20px;
}

.menu-left {
	display: block;
}

.nav-menu-left {
	min-height: 500px;
}

.nav-menu-left ul h3 {
	text-align: center;
	background-color: #A09696;
	padding: 3px 0;
	color: #f9f9f9;
	font-size: 14px;
	font-weight: bolder;
	text-transform: uppercase;
}


.nav-menu-left ul li{
	float: none;
}

/*--------------sidebar-------------------*/
.sidebar {
	border: 1px solid #f1f1f1;
	width: 90%;
	box-sizing: border-box;
}

.side li:not(:last-child) {
	border-bottom: 1px solid #f1f1f1;
}

.side li {
	padding: 3px 0;
}

.side li a {
	padding-left: 15px;
}

/*----------menu-dropdown--------------*/
.side-title {
	cursor: pointer;
	border-bottom: 1px solid #fff;
	transition: .3s;
	text-align: center;
	background-color: #A09696;
	padding: 3px 0;
	color: #f9f9f9;
	font-size: 14px;
	font-weight: bolder;
	text-transform: uppercase;
}

.side-title i {
	float: right;
	line-height: 22px;
	padding-right: 10px;
}

.side li a {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}

.side li:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

/*content*/

/*content-course*/
.content-course {
	border: 1px solid #f1f1f1;
	padding: 0;
	margin-right: 10px;
	margin-bottom: 20px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
	min-height: 274px;
}

.content-course:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 16px 0 rgba(0, 0, 0, 0.3);
}

.content-course:hover .course-detail a{
	color: #fff;
	background-color: #c00;
}


.course-c {
	font-size: 14px;

}

.course-c span {
	color: #0275d8; 
	padding-left: 3px;
}

.course-title, .course-teacher, .course-price {
	padding: 0 15px;
	line-height: 1.5;
	cursor: pointer;
	font-size: 1.075vw;
}


.course-title {
	min-height: 42px;
}
.course-title span {
	text-transform: uppercase;
}
.course-teacher {
	min-height: 42px;
}
.course-detail {
	text-align: right;
	height: 25px;

}
.course-detail a {
	text-decoration: none;
	color: #928C8C;
	background-color: #f1f1f1;
	padding: 2px 7px;
	font-size: 12px;
}

@media screen and (max-width: 991px){

	/*--------hiden ele-----------*/
	.menu-left {
		display: none;
	}

	.course-title, .course-teacher, .course-price {
		font-size: 1.65vw;
	}
}

@media screen and (max-width: 768px){
	.course-title, .course-teacher, .course-price {
		font-size: 14px;
	}
}
