
.slider{
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
}

.slide{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	float: left;
	position: absolute;
	z-index: -1;
}

.slide img {
	width: auto\9;
    height: auto;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.slidecontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	opacity: 0;
}

.slidecontent h1 {
	font-size: 40px;
	margin-bottom: 30px;
	display: inline-block;
	text-shadow: 0 2px 4px rgb(0,0,0,.4);
}


.slidecontent p {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.slidecontent a {
	display: inline-block;
	font-size: 12px;
	border-radius: 30px;
	box-sizing: border-box;
	padding: 18px 28px;
	background-color: #429FFD;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.slidecontent a:hover {
	background-color: #000;
}


.slidecontent.active {
	animation: hienra 4s ease;
	opacity: 1;
}


@keyframes hienra {
	from {
		margin-top: 50px;
		opacity: 0;
	}to {
		margin-top: 0;
		opacity: 1;
	}
}

.container {
	width: 95%;
	margin: 0 auto;
}


/*left-intro*/
.intro-wr {
	z-index: -1;
	margin-top: -8.9em;
}


.intro {
	padding: 10px; 
	box-sizing: border-box;
	width: 100%;
}

.box-intro {
	width: 100%;
	padding: 1em 1.5em;
	position: relative;
	z-index: 0;
	margin-bottom: 10px;
	background-color: #FFA235;
	box-shadow: 0 2px 4px rgb(0,0,0,.2);
	box-sizing: border-box;
	display: flex;
}

.intro h3 {
	color: #fff;
	font-weight: 400px;
	margin-bottom: 10px;
	text-transform: capitalize;
	line-height: 1.5;
	font-size: 20px;
	letter-spacing: 1px;
}

.intro p {
	background-color: transparent;
	margin-top: 10px;
	display: inline-block;
}

.intro p a {
	color: #000;
	padding: 5px;
	border: 1px solid #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

.box-third {
	background-color: #1585EE;
}

/*icon*/
.icon {
	padding: 10px 2px;
	width: 20%;
	box-sizing: border-box;
	
}
.icon img {
	width: 50px;
}


/*about-right*/
.about-wr-right {
	padding: 4em 2em 2em 2em;
	box-sizing: border-box;
}

.about-wr-right h2, .about-wr-right p {
	margin-bottom: 20px;
}

.about-wr-right h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 1.5;
	display: block;
}

.about-wr-right p {
	color: gray;
}

.panel-heading {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 3px;
}


.panel-heading .btn-panel {
	background-color: #f1f1f1;
	display: block;
	padding: 10px 25px;
	width: 100%;
	color: #000;
	text-decoration: none;
	font-weight: 500;
	box-sizing: border-box;
}

.btn-panel:after {
	content: "\f30c";
	text-align: right;
	outline: none;
	display: block;
	float: right;
	width: 24px;
	height: 24px;
	font-family: Font Awesome\ 5 Free;
	font-size: 12px;
	font-weight: 700;
}

.panel-heading .btn-panel.in {
	background-color: #000;
	color: #fff;
}

.panel-content {
	padding: 10px 25px;
	border: 1px solid grey;
	margin: 5px 0;
	/*display: none;*/
}


.box-third .intro h3 {
	text-transform: uppercase;
}



/*boxs links service*/
.container-service {
	padding: 7em 0;
}

.service-wr {
	display: flex;
}


.service {
	width: 25%;
	padding: 2em;
	position: relative;
	box-sizing: border-box;
}

.service .desc {
	/*border: 1px solid grey;*/
	padding: 5em 2em 2em 2em;
	background-color: #f1f1f1;
	text-align: center;
	z-index: -1;
	
}

.desc h3 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 16px;
}

.desc p {
	font-size: 16px;
	font-weight: 300;
	color: grey;
	line-height: 1.5;
	margin-bottom: 10px;
}

.service .icon {
	position: absolute;
	top: -1.5em;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	display: inline-block;
	width: 100px;
	background-color: #1585EE;
	color: #fff;
	z-index: 1;
	padding: 0;
}

.service .icon img {
	width: 40px;
}


.service .icon:before {
	content: "";
	display: block;
	width: 0; 
  	height: 0;
  	border-left: 50px solid #fff;
  	border-right: 50px solid #fff;
  	border-bottom: 30px solid transparent;
}


.service .icon:after {
	content: "";
	display: block;
	width: 0; 
  	height: 0; 
  	border-left: 50px solid #f1f1f1;
  	border-right: 50px solid #f1f1f1;
  	border-top: 30px solid transparent;
}

/*counter*/
.container-counter {
	width: 100vw;
	height: auto;
	display: inline-block;
	position: relative;
	z-index: 1;
	background-color: #000;

}

.counter-img {
	content: "";
	background: url(../Images/banner-1.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: .4;
	overflow: auto;
}


.counter {
	display: flex;
	padding: 7em 4em;
}

.counter-entry {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.counter-entry .icon {
	display: block;
	float: left;
}


.counter-entry img {
	width: 100%;
}

.counter-entry .desc {
	display: block;
	float: left;
	height: 100%;
	padding-left: 5px;
}

.counter-entry .desc .count {
	font-size: 40px;
	color: #429FFD;
	font-weight: 700;
	display: block;

}


.counter-entry .desc .name {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
	display: block;
	color: rgb(255,255,255,.6);
}

/*course*/
.container-course {
	background-color: #f1f1f1;
	padding: 7em;
	box-sizing: border-box;
}

.course-title {
	text-align: center;
	margin-bottom: 20px;
}

.course-title h2 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 20px;

}

.course-wr {
	display: flex;
	flex-wrap: wrap;
}

.course {
	width: 33.33%;
	padding: 0 15px;
	box-sizing: border-box;
}


/*course-img*/
.course-img {
	position: relative;
}

.course-img a {
	display: inline-block;
	width: 100%;
	height: 250px;
}

.course-img a::after {
	content: "";
	background: url(../Images/banner-1.png);
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	background-color: 
}

.course-img .price {
	position: absolute;
	width: 80px;
	padding-top: 1em;
	right: 0.5em;
	bottom: -1.5em;
	color: #000;
	background-color: #FFC300;
	text-align: center;
	font-size: 14px;
	color: #000;
}


.course-img  .price:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 20px 40px 0 40px;
	border-color: #FFC300 #f1f1f1 transparent #f1f1f1;
}

/*course-content*/
.course-title span {
	font-weight: 500;
	font-size: 20px;
	text-transform: capitalize;
}

.course-title p {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	color: grey;
	margin-bottom: 80px;
}

.course .course-c {
	padding: 32px 24px 24px 24px; 
}

.course-c a {
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	line-height: 1.5;
}

.course-c a::after {
	content: "\f30b";
	width: 24px;
	height: 24px;
	font-family: Font Awesome\ 5 Free;
	font-weight: 900;
	text-align: right;
	outline: none;
	padding-left: 5px;
}

.course-desc {
	margin: 20px 0;
	color: grey;
	font-size: 14px;
}


@media screen and (max-width: 991px){
	.intro-wr {
		width: 80%;
		margin: 0 auto;
		margin-top: -7em;
	}

	.container {
		width: 100%;
	}

	.service-wr {
		display: block;
	}


	.service {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.slidecontent h1 {
		font-size: 35px;
	}


}

@media screen and (max-width: 767px){
	.container {
		width: 100%;
	}

	.slider{
		height: 600px;
	}

	.slide img {
		height: 600px;
	}

	.slidecontent h1 {
		font-size: 28px;
	}

	/*counter*/
	.counter {
		display: block;
	}

	.counter-entry {
		width: 100%;
		margin-bottom: 10px;
	}

	/*course*/
	.container-course {
		padding: 5em 1em;
	}

	.course-wr {
		display: block;
	}

	.course {
		width: 100%;
		padding: 0;
	}

	.course-title p{
		padding: 1em;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
	}
	/**/
	.about-wr-right {
		text-align: center;
	
	}

	.counter {
		padding: 6em;
	}

	.service {
		padding: 1em;
	}
}